body {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
}

.profile-card {
  width: 220px;
  height: 280px;
  text-align: center;
  padding: 10px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-card img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 10px;
  margin-top: 10px;
}

.profile-card:hover {
  transform: scale(1.05);
}

.profile-card:hover img {
  transform: scale(1.15);
}

.swiper {
  width: 80%;
  padding-bottom: 50px;
  margin: 0 auto;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transform: scale(0.85);
}

.swiper-wrapper {
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.swiper-slide-active {
  transform: scale(1.1);
  z-index: 2;
}

.swiper-slide-active .profile-card {
  width: 270px;
  height: 320px;
  transform: scale(1.15);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.swiper-slide-active .profile-card img {
  width: 150px;
  height: 150px;
  transform: scale(1.1);
}
